---
import { configs } from '../../app.config'

const y = new Date().getFullYear()
---

<a href={configs.website}>
  <footer class={'text-text-gray font-serif text-xs pb-6 block text-center'}>
    Copyright © 2023 - {y} Innei. Powered by Astro & SolidJS.
  </footer>
</a>
