---
import Header from '../components/header/index.astro'
import { QueryClientProvider } from '@tanstack/solid-query'
import Footer from '../components/footer/index.astro'

import './base.css'
import { queryClient } from '../utils/query'
---

<html lang="zh-hk">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>森 | 寻的碎碎念</title>
  </head>
  <body>
    <div class="wrap">
      <Header />

      <main>
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>

<style>
  .wrap {
    max-width: 850px;

    margin: auto;
  }

  main {
    margin: 3rem 0;
    min-height: calc(100vh - 16rem);
  }
</style>
